Node-red_flows.json
[{"id":"a0e9b3cd.7a0f8","type":"websocket-listener","path":"/ws/chat","wholemsg":"false"},{"id":"cf5d4b14.975ae8","type":"function","z":"f8b3abd6.1088b8","name":"GetLatest10Message","func":"msg.payload = {\n    \"query\":\"*:*\",\n    limit: 10,\n    sort: \"-timestamp\"\n  };\nreturn msg;","outputs":1,"noerr":0,"x":579.8333740234375,"y":389.02081298828125,"wires":[["66425364.93268c"]]},{"id":"66425364.93268c","type":"cloudant in","z":"f8b3abd6.1088b8","service":"nodered-sdk-tryout1-cloudantNoSQLDB","cloudant":"","name":"timestampSearch","database":"msgdata","search":"_idx_","design":"Indexsearch","index":"timestamp","x":782.8402709960938,"y":453.84722900390625,"wires":[["60cbfcbe.3493b4"]]},{"id":"1d11b271.abb40e","type":"http in","z":"f8b3abd6.1088b8","name":"cloudantnode","url":"/db/history","method":"get","swaggerDoc":"","x":380,"y":453.013916015625,"wires":[["cf5d4b14.975ae8"]]},{"id":"60cbfcbe.3493b4","type":"http response","z":"f8b3abd6.1088b8","name":"output","x":1004.8402709960938,"y":453.75347900390625,"wires":[]},{"id":"231a648d.60e79c","type":"websocket in","z":"f8b3abd6.1088b8","name":"","server":"a0e9b3cd.7a0f8","client":"","x":424.20001220703125,"y":192.8000030517578,"wires":[["f8be1398.844ec"]]},{"id":"f8be1398.844ec","type":"function","z":"f8b3abd6.1088b8","name":"","func":"delete msg._session;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":605.1999969482422,"y":188.8000030517578,"wires":[["9d8ec3c9.a0399","32d8048.ed2f0fc"]]},{"id":"9d8ec3c9.a0399","type":"websocket out","z":"f8b3abd6.1088b8","name":"","server":"a0e9b3cd.7a0f8","client":"","x":855.1999969482422,"y":187.8000030517578,"wires":[]},{"id":"67ab62df.cf74ac","type":"http in","z":"f8b3abd6.1088b8","name":"","url":"/chat","method":"get","swaggerDoc":"","x":415.20001220703125,"y":268.79998779296875,"wires":[["aa6a486d.162118"]]},{"id":"aa6a486d.162118","type":"template","z":"f8b3abd6.1088b8","name":"","field":"","fieldType":"msg","syntax":"mustache","template":"<head>\n\t<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js\"></script>\n\t<meta name=\"viewport\" content=\"width=320, initial-scale=1\">\n\t\t<title>Chat</title>\n\t</head>\n\n\t<body>\n\t\t<div id=\"wrapper\">\n\t\t\t<div id = \"msgHistory\" style=\"cursor: pointer;\" onclick=\"requestHistory()\">\n\t\t\tDo you want to know what happened?\n\t\t\t</div>\n\t\t\t<div id=\"chat_box\" class=\"content\"></div>\n\n\t\t\t<div id=\"footer\">\n\t\t\t\t<div class=\"content\">\n\t\t\t\t\t<div class = \"conversation\">\n\t\t\t\t\t<input type=\"text\" id=\"user\" placeholder=\"Who are you?\" />\n\t\t\t\t\t<input type=\"text\" id=\"message\" placeholder=\"What do you want to say?\" onkeydown = \"enterMessage()\"/>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div class =\"function\">\n\t\t\t\t\t<input type = \"button\" id =\"E2F\" value = \"En 2 Fr\" onclick = \"translation2Fr()\"/>\n\t\t\t\t\t<input type = \"button\" id =\"F2E\" value = \"Fr 2 En\" onclick = \"translation2En()\"/>\n\t\t\t\t\t<input type =\"button\" id = \"history\" value = \"Get History\" onclick = \"requestHistory()\"/>\n\t\t\t\t\t<input type=\"button\" id=\"send_btn\" value=\"Send\" onclick=\"sendMessage()\">\n\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t</div>\n\t\t</body>\n\n\n\n\t\t<style type=\"text/css\">\n  * {\n    font-family: \"Palatino Linotype\", \"Book Antiqua\", Palatino, serif;\n    font-style: italic;\n    font-size: 24px;\n  }\n\n  html, body, #wrapper {\n    margin: 0;\n    padding: 0;\n    height: 100%;\n  }\n\n\n  #wrapper {\n    background-color: #ecf0f1;\n  }\n\n  #chat_box {\n    box-sizing: border-box;\n    height: 90%;\n    overflow: auto;\n    padding-bottom: 2%;\n  }\n\n  #footer {\n    box-sizing: border-box;\n    position: fixed;\n    bottom: 0;\n    height: 10%;\n    width: 100%;\n    background-color: #2980b9;\n  }\n\n  #footer .content {\n    padding-top: 4px;\n    position: relative;\n  }\n\n  #user { width: 20%; \n\t\tfont-style:normal;\n\t\t}\n  #message { width: 68%;\n\t\t\tfont-style: normal;\n\t\t\t}\n\n.timestamp {\n    margin:100;\n    color: #990;\n    font-size: 10px;\n\n}\n\n  .content {\n    width: 70%;\n    margin: 0 auto;\n  }\n\n  input[type=\"text\"],\n  input[type=\"button\"] {\n    border: 0;\n    color: #fff;\n  }\n\n  input[type=\"text\"] {\n    background-color: #146EA8;\n    padding: 3px 10px;\n  }\n\n  input[type=\"button\"] {\n    background-color: #f39c12;\n    border-right: 2px solid #e67e22;\n    border-bottom: 2px solid #e67e22;\n    min-width: 70px;\n    display: inline-block;\n\tfloat: right;\n\tfont-size: 14px;\n\tfont-style: oblique;\n\tmargin: 3px;\n  }\n\n  input[type=\"button\"]:hover {\n    background-color: #e67e22;\n    border-right: 2px solid #f39c12;\n    border-bottom: 2px solid #f39c12;\n    cursor: pointer;\n  }\n\n  .system,\n  .username {\n    color: #aaa;\n    font-style: italic;\n    font-family: monospace;\n    font-size: 16px;\n  }\n\n  #conversation #function{\n\twidth: 95%;\n  }\n  #history{\n   text-decoration: underline;\n   text-align: center;\n  }\n  #msgHistory{\n      font-size: 10px;\n      color: #999;\n      text-decoration: underline;\n      width: 60%;\n      margin: auto;\n  }\n  .history{\n      background-color: #ccc;\n      margin: auto;\n      width: 80%;\n      border: 1px solid #aaa;\n      \n  }\n  \n  @media(max-width: 1000px) {\n    .content { width: 90%; }\n  }\n\n  @media(max-width: 780px) {\n    #footer { height: 91px; }\n    #chat_box { padding-bottom: 91px; }\n\n    #user { width: 100%; }\n    #message { width: 80%; }\n  }\n\n  @media(max-width: 400px) {\n    #footer { height: 135px; }\n    #chat_box { padding-bottom: 135px; }\n\n    #message { width: 100%; }\n    #send_btn {\n      position: relative;\n      margin-top: 3px;\n      width: 100%;\n    }\n  }\n\t\t</style>\n\t\t\n\t\t\n<script type = \"text/javascript\">\n  var wsUri = \"ws://{{req.headers.host}}/ws/chat\";\n  var ws = new WebSocket(wsUri);\n  var chat = document.getElementById('chat_box');\n\n//make a create text element easy\n  function createHttpElement(message,name,classname,parent){\n      var messageContent=document.createTextNode(message);\n      var messageBox = document.createElement(name);\n      messageBox.className = classname;\n      messageBox.appendChild(messageContent);\n      parent.appendChild(messageBox);\n  };\n\n  function createSystemMessage(message) {\n/*     var message = document.createTextNode(message);\n    var messageBox = document.createElement('p');\n    messageBox.className = 'system';\n    messageBox.appendChild(message);\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox); */\n\tcreateHttpElement(message,'p','system',chat);\n  }\n\n  function createUserMessage(user, message,timestamp,box) {\n/*     var user = document.createTextNode(user + ': ');\n\n    var userBox = document.createElement('span');\n    userBox.className = 'username';\n    userBox.appendChild(user);\n\n    var message = document.createTextNode(message);\n\t//add time stamp\n\tvar timestamp = document.createTextNode(timestamp);\n\tvar timestampBox = document.createElement('span');\n\ttimestampBox.className = 'timestamp';\n\ttimestampBox.appendChild(timestamp);\n\n    var messageBox = document.createElement('p');\n\n\n    messageBox.appendChild(userBox);\n    messageBox.appendChild(message);\n\tmessageBox.appendChild(timestampBox);\n\n    //var chat = document.getElementById('chat_box');\n    box.appendChild(messageBox); */\n\tvar messageBox  = document.createElement('p');\n\tcreateHttpElement(user+': ', 'span','user',messageBox);\n\tmessageBox.appendChild(document.createTextNode(message));\n\ttimestamp = (new Date(timestamp)).toString();\n\tcreateHttpElement(timestamp,'span','timestamp',messageBox);\n\tbox.appendChild(messageBox);\n\n  };\n\n  ws.onopen = function(ev) {\n    createSystemMessage('[Connected]');\n  }; \n\n  function requestHistory(){\n    var chat = document.getElementById('chat_box');\n    var historyBox = document.createElement('p');\n    historyBox.className = 'history';\n\t\n  createHttpElement('-----Last 10 messages-----','span','notes',historyBox);\n\tchat.appendChild(historyBox);\n\n\tvar uri='/db/history';     \n\t$.get(uri, function(data){\n\tfor(var i =9; i >=0; i--){\n\t\tcreateUserMessage(data[i].user,data[i].message,data[i].timestamp,historyBox);\n\t\t}\n\t},\"json\");  \n\n//\tcreateHttpElement('-----Last 10 messages------','span','notes',historyBox);\n\t\n\tvar hisLink = document.getElementById('msgHistory');\n\tif(hisLink !=null)\n\thisLink.parentNode.removeChild(hisLink);\n\n  };\n\n  ws.onclose = function(ev) {\n    createSystemMessage('[Disconnected]');\n  }\n\n  ws.onmessage = function(ev) {\n    var payload = JSON.parse(ev.data);\n    var chat = document.getElementById('chat_box');\n    //ts =(new date(payload.timestamp)).toString();\n    createUserMessage(payload.user, payload.message,payload.timestamp,chat);\n    chat.scrollTop = chat.scrollHeight;\n  }\n\n  function sendMessage() {\n    var user = document.getElementById('user');\n    var message = document.getElementById('message');\n\n    var payload = {\n      message: message.value,\n      user: user.value,\n      //ts: (new Date()).toString(),\n      timestamp:(new Date()).getTime()\n    };\n\n    ws.send(JSON.stringify(payload));\n    message.value = \"\";\n  };\n  \n  function  translation2Fr(){\n\tvar message = document.getElementById('message');    \n\tmessage.value = message.value;\n\tvar uri=\"/translateEtoF?message=\"+message.value;       \n\t$.get(uri, function(data, status){\n\tmessage.value = data;\n\t}); \n  }\n  \n  function translation2En(){\n    var message = document.getElementById('message');    \n\tmessage.value = message.value;\n\tvar uri=\"/translateFtoE?message=\"+message.value;       \n\t$.get(uri, function(data, status){ message.value = data;});  \n  }\n  \n  function enterMessage(){\n      if(event.keyCode == 13)\n      sendMessage();\n  }\n</script>\n\t\t","x":608.2000122070312,"y":268.79998779296875,"wires":[["b6d2bcbe.e67de"]]},{"id":"b6d2bcbe.e67de","type":"http response","z":"f8b3abd6.1088b8","name":"","x":860.2000122070312,"y":270.79998779296875,"wires":[]},{"id":"32d8048.ed2f0fc","type":"cloudant out","z":"f8b3abd6.1088b8","service":"nodered-sdk-tryout1-cloudantNoSQLDB","cloudant":"","name":"msgdetail","database":"msgdata","payonly":true,"operation":"insert","x":887.7937164306641,"y":75.90791320800781,"wires":[]},{"id":"b6d2d2b8.61498","type":"http in","z":"f8b3abd6.1088b8","name":"","url":"/translateEtoF","method":"get","swaggerDoc":"","x":362,"y":594,"wires":[["c131a6f9.36a948"]]},{"id":"ef7e81be.5b96","type":"watson-translate","z":"f8b3abd6.1088b8","name":"","srclang":"en","destlang":"fr","domain":"conversational","x":815,"y":576.0000610351562,"wires":[["9d20b5ff.33f208"]]},{"id":"9d20b5ff.33f208","type":"http response","z":"f8b3abd6.1088b8","name":"","x":1092,"y":575,"wires":[]},{"id":"8eda5eaa.7552c","type":"function","z":"f8b3abd6.1088b8","name":"","func":"msg.payload=msg.payload.message;\nmsg.srclang=\"fr\";\nmsg.destlang=\"en\";\nreturn msg;","outputs":1,"noerr":0,"x":577.0000610351562,"y":513.0000610351562,"wires":[["f18d20d9.b810b"]]},{"id":"f5499c3b.6c9b4","type":"http in","z":"f8b3abd6.1088b8","name":"","url":"/translateFtoE","method":"get","swaggerDoc":"","x":360.99998474121094,"y":516,"wires":[["8eda5eaa.7552c"]]},{"id":"f18d20d9.b810b","type":"watson-translate","z":"f8b3abd6.1088b8","name":"","srclang":"fr","destlang":"en","domain":"conversational","x":789.0000610351562,"y":518,"wires":[["c86b1c5a.373bf"]]},{"id":"c86b1c5a.373bf","type":"http response","z":"f8b3abd6.1088b8","name":"","x":1100.9999389648438,"y":515,"wires":[]},{"id":"c131a6f9.36a948","type":"function","z":"f8b3abd6.1088b8","name":"","func":"msg.payload=msg.payload.message;\nmsg.srclang=\"en\";\nmsg.destlang=\"fr\";\nreturn msg;","outputs":1,"noerr":0,"x":587.0000610351562,"y":577.0000610351562,"wires":[["ef7e81be.5b96"]]}]
